/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
}

em {
  font-style: oblique;
}

strong {
  font-style: bold;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
}

#navbar {
  background-color: black;
  padding: 15px;
  width: 100%;
  position: fixed;
  z-index: 2;
}

#navbar ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.link {
  flex-basis: 10%;
}

#navbar li {
  padding-left: 10px;
}

#navbar ul a:hover {
  color: rgb(133, 88, 38);
}

#navbar a {
  color: white;
  font-size: 25px;
}

/* h1 {
  font-size: 12vw;
  font: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
} */

/* h2 {
  font-size: 8vw;
} */

#intro {
  margin: 0 auto;
  padding: 0% 0%;
}

header {
  background-color: #141313;
  background-size: cover;
  background-position: center top;
  width: 100%;
  min-height: 900px;
  position: relative;
}

.right {
  position: absolute;
  float: right;
  top: 0px;
  right: 5px;
  width: 540px;
  opacity: 0.6;
  overflow: hidden;
}

.last-name {
  position: absolute;
  top: 200px;
  left: 400px;
}

h1 {
  color: rgb(133, 88, 38);
  position: absolute;
  padding: 10px;
  top: 200px;
  font-size: 11vw;
  font: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h2 {
  color: rgb(133, 88, 38);
  position: absolute;
  padding: 20px;
  font-size: 70px;
  top: 700px;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

#about {
  /* height: 100%; */
  padding-top: 10%;
  /* padding-bottom: 80%; */
}

h3 {
  text-transform: capitalize;
  font-size: 3em;
  padding: 0 0 1% 0;
  color: rgb(133, 88, 38);
  font-weight: 800;
}

.left {
  float: left;
  width: 480px;
  overflow: hidden;
}

.about-box {
  float: left;
  text-align: left;
  width: 480px;
  height: 100%;
  padding-bottom: 80px;
}

.about-content {
  padding: 0 8%;
}

.about-content p {
  line-height: 1.8;
  color: rgb(133, 88, 38);
  letter-spacing: 0.03em;
  font-size: 1.5em;
  padding-bottom: 7em;
}

/* .interests {
  margin: 450px 0;
  margin-bottom: 450px;
  padding-top: 350px;
} */

h5 {
  text-transform: capitalize;
  font-size: 3em;
  padding: 0 0 1% 0;
  color: rgb(133, 88, 38);
  font-weight: 800;
}

.interests-content {
  padding: 1% 8%;
}

.interests-items {
  list-style: square;
}

.interests-content li {
  line-height: 1.8;
  color: rgb(133, 88, 38);
  letter-spacing: 0.03em;
  font-size: 1.5em;
}

.interests-content p {
  line-height: 1.5;
  color: rgb(133, 88, 38);
  letter-spacing: 0.03em;
  font-size: 1.3em;
}

#work {
  padding-top: 15%;
}

.centre {
  float: right;
  width: 480px;
  padding-top: 9%;
}

.text-box {
  width: 480px;
}

.text-box-content {
  padding: 13% 8%;
}

.text-box-content p {
  line-height: 1.5;
  color: rgb(133, 88, 38);
  letter-spacing: 0.03em;
  font-size: 1.2em;
}

#contact {
  width: 100%;
  background-color: #f9f9f9;
  padding: 2% 0;
  margin-top: 5%;
  clear: both;
  border-bottom: 1px black solid;
  border-top: 1px black solid;
}

.contact-content h4 {
  text-transform: capitalize;
  font-size: 3em;
  padding: 2% 2%;
  color: rgb(133, 88, 38);
  font-weight: 800;
  letter-spacing: 0.04em;
}

.contact-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.contact-container div {
  width: 10px;
}

.contact-container .form-group {
  padding-bottom: 30px;
  padding-left: 10%;
  flex: 1;
  flex-basis: 33%;
}

.contact-container .form-group2 {
  padding-bottom: 30px;
  padding-left: 10%;
  flex: 1;
  flex-basis: 33%;
}

.contact-container .form-group3 {
  padding-bottom: 30px;
  padding-left: 10%;
  flex: 1;
  flex-basis: 33%;
  /* display: block; */
}

.contact-container label {
  font-size: 1.5em;
  display: block;
}

.contact-container input {
  padding: 8px;
  width: 70%;
}

.contact-container textarea {
  width: 86.9%;
  height: 100px;
}

.g-recaptcha {
  padding-left: 35%;
  padding-right: 40%;
  padding-bottom: 30px;
}

.button {
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;

  margin-left: 11%;
  background-color: gray;
  color: white;
  padding: 15px;
  width: 84.7%;
  border: none;
}

.button:hover {
  background-color: rgb(133, 88, 38);
}

.invisible {
  display: none;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.social a {
  color: rgb(133, 88, 38);
}

.social a:hover {
  color: black;
}

.link1 {
  flex-basis: 20%;
}

.link2 {
  flex-basis: 20%;
}

.social li a {
  padding-left: 40%;
}

footer {
  background-color: black;
  margin: 0 auto;
  height: 90px;
  width: 100%;
}

.footer-content {
  max-width: 960px;
  padding: 2% 0;
  margin: 0 auto;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.4;
  color: rgb(133, 88, 38);
  letter-spacing: 0.03em;
  font-size: 1em;
}

.credit {
  float: left;
}

@media (max-width: 1425px) {
  .right {
    width: 400px;
  }

  .last-name {
    left: 262px;
  }
}

@media (max-width: 1028px) {
  h1 {
    top: 520px;
    font-size: 100px;
  }

  .last-name {
    top: 79px;
    left: 300px;
  }

  h2 {
    padding: 20px;
    font-size: 70px;
    top: 700px;
  }
}

@media (max-width: 976px) {
  .wrapper {
    padding-left: 10%;
  }

  .about-box {
    float: unset;
    text-align: unset;
  }

  .interests {
    padding-top: 550px;
  }

  .centre {
    float: unset;
  }

  .text-box {
    float: unset;
    text-align: unset;
  }

  .g-recaptcha {
    padding-left: 30%;
  }
}

@media (max-width: 600px) {
  #navbar a {
    font-size: 21px;
  }

  #intro {
    margin: 0;
  }

  header {
    min-height: 800px;
  }

  .right {
    margin: 0 auto;
    padding: 5%;
    position: unset;
    float: unset;
    width: 80%;
  }

  h1 {
    position: unset;
    margin: 0 auto;
    font-size: 88px;
  }

  .last-name {
    position: unset;
    text-align: center;
  }

  h2 {
    padding: 20px;
    font-size: 40px;
    position: unset;
  }

  .left {
    width: 100%;
  }

  .about-box {
    width: 100%;
    padding-bottom: 200px;
  }

  .about-content p {
    line-height: 1.3;
    font-size: 1.3em;
  }

  .interests {
    padding-top: 20px;
  }

  .centre {
    width: 100%;
  }
  .text-box {
    width: 100%;
  }

  .g-recaptcha {
    padding-left: 10%;
  }
}

@media (max-width: 400px) {
  .interests {
    padding-top: 240px;
  }
}
